@import '../../styles/mixins';

.c-product {
    img {
        margin: auto;
        display: flex;
    }
}

.c-shop-cart {
    .paypal-buttons {
        z-index: 0;
    }
    table {
        width: 100%;
    }
}