@import '../../styles/mixins';

.c-rte {
    margin-top: $module-spacing-mobile;
    margin-bottom: $module-spacing-mobile;

    @media (min-width: $module-spacing-breakpoint) {
        margin-top: $module-spacing-desktop;
        margin-bottom: $module-spacing-desktop;
    }
    

    // margin-bottom: -10px;
    white-space: pre-wrap;


}