@import '../../styles/mixins';

body {
    padding-top: 150px!important;
}

.c-header-mobile {
    font-weight: 700;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    &__navbar {
        position: relative;
        z-index: 2;
        background-color: $header-bg-color;

        .navbar {
            padding: 0.5rem 0;
        }
    }

    &__brand.navbar-brand {
        margin: 0;
    }
    
    &__brand-logo {
        width: 80px;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 80px;
        }
    }
    
    &__brand-name {
        padding-left: getSpace(4);
    }
    
    &__navigation.navbar-nav {
        .navigation__item.nav-link {
            font-size: initial;
            color: $header-text-color;
            text-decoration: none;
            text-align: center;
            
            &.active {
                color: $header-text-active-color;
            }
            
            &:hover {
                color: $header-text-hover-color;
            }
        }
    }

    &__socials.navbar-nav {
        text-align: center;
    }

    &__navbar-overlay {
        position: fixed;
        left: 0;
        top: 20px;
        width: 100%;
        height: 100vh;
        transition: .5s;
        background-color: rgba($header-bg-color, 0.925);
        display: flex;
        align-items: flex-end;
        justify-content: top;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
        transform: translateX(-100%) skew(-14deg);
        padding: 79px 15px 0 20%;
        transform-origin: 0 0;
    
        &.open {
            transition: .5s;
            transform: translateX(0%) skew(-14deg);
        }
    
        .nav-link {
            color: $header-text-color;
            font-size: 1.5rem;
            border-bottom: 2px solid transparent;
            padding: 0.5rem 1rem;
            transform: skew(14deg);
            text-align: right;

            @media (min-width: 576px) {
                font-size: 2rem;
            }
    
            &:hover,
            &:focus {
                color: $header-text-hover-color;
                border-bottom: 2px solid $header-text-hover-color;
            }
        }
    }
}

/* Burger */

.ham {
    cursor: pointer;
    height: 60px;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
    
    &.hamRotate.active {
        transform: rotate(45deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $header-burger-color;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    
    .top {
        stroke-dasharray: 40 160;
    }
    
    .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
    }
    
    .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
    }

    &.active {
        .top {
            stroke-dashoffset: -64px;
        }
        
        .middle {
            transform: rotate(90deg);
        }
        
        .bottom {
            stroke-dashoffset: -64px;
        }
    }
}