@import '../../styles/mixins';

body {
    padding-top: 169px;
}

.c-header {
    font-weight: 700;
    z-index: 100;
    border-bottom: 3px solid #BBBBBB;

    &__navbar {
        background-color: $header-bg-color;

        .navbar {
            padding: 0.5rem 0;
        }
    }

    &__brand-logo {
        width: 150px;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 150px;
        }
    }
    
    &__brand-name {
        padding-left: getSpace(4);
    }
    
    &__navigation.navbar-nav {
        // padding-right: 200px;
        .navigation__item.nav-link {
            font-size: 20px;
            color: $header-text-color;
            text-decoration: none;
            text-align: center;
            margin-right: 15px;
            
            &.active {
                color: $header-text-active-color;
            }
            
            &:hover {
                color: $header-text-hover-color;
            }
        }
    }

    &__socials.navbar-nav {
        text-align: center;
    }
}
