@import '../../styles/mixins';

.c-footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    padding: getSpace(10) 0;
    margin-top: auto;
    border-top: 3px solid #BBBBBB;

    &__brand-logo {
        width: 80px;
        
        @media (min-width: 768px) {
            width: 80px;
        }
    }

    &__contentful-partner {
        margin-left: auto;
    }
    
    &__sitemap {
        padding-left: 0;
        list-style: none;

        li a {
            color: $footer-text-color;
        }
    }

    &__details {
        span {
            display: block;
        }
    }
}